name: Deploy static content to Pages
on:
  push:
    branches: [main]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out site
        uses: actions/checkout@v6
      - name: Check out resume
        uses: actions/checkout@v6
        with:
          lfs: true
          repository: jinnovation/resume
          path: ./resume
          sparse-checkout: |
            resume.pdf
      - run: mkdir ./build
      - run: cp ./resume/resume.pdf ./build/resume.pdf
      - run: cp ./profile.jpg ./build/profile.jpg
      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: 29.3
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - run: emacs README.org --batch --eval "(org-export-to-file 'html \"./build/index.html\")"
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './build'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
